<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <header>
      <h1>Message Board</h1>
    </header>
    <a href="/new">New post</a>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <ul>
          <li>User: <%= message.username %></li>
          <li>Date: <%= message.added %></li>
          <li>Message: <%= message.text%></li>
          <li>
            <a href="/messages?mid=<%= message.id %>"><button>Open</button></a>
          </li>
        </ul>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
